.App {
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.banner {
    width: 1440px;
    height: 90px;
    margin-top: 50px;
    font-size: 34px;
    background-color: #fff5bc;
}
.books {
    display: flex;
    gap: 10px;
    /* background-color: aqua; */
    height: 70%;
}

.book {
    
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: bisque; */
}
a {
    text-decoration: none;
}

img {
 width: 200px;
 height: 300px;
 object-fit: cover;
}
.desc {
    text-align: justify;
    white-space: wrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.delete {
    border: none;
    padding: 4px 8px;
    background-color: #fff;
    cursor: pointer;
    outline: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}
.delete:hover {
    background-color: rgb(242, 100, 100);
    color: white;
}
.update {
    border: none;
    padding: 4px 8px;
    background-color: #fff;
    cursor: pointer;
    outline: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);

}
.update:hover {
    background-color:rgb(139, 139, 234);
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

input {
    width: 250px;
    padding: 10px;
    border: none;
    outline: 1px solid gray;
}

.formBtn {
    border: none;
    padding: 15px;
    background-color: rgb(160, 231, 254);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.formBtn:hover {
    background-color: rgb(37, 200, 254);

}
.add {
    background-color: rgb(255, 213, 134);

}
.add:hover  {
    background-color: rgb(245, 167, 20);

}



/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #fff5bc;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}